
.hero {
    background-image: url('https://www.cruelpancake.com/cdn/shop/files/Cruel_black_4ec1b648-0f5e-4935-b431-089ed79fe4ee.png?v=1686253146');
    background-size: 70%;
    color: rgba(57, 40, 40, 0);
    text-align: center;
    padding: 50px 0;
}